{{>navegacionIndex}}

<div class="container">
    <div class="container">


        <div class="card mb-3 shadow">
            <div class="card-body">

                <p class="card-text">
                <h5 class="text-center">Oferta y administración de prácticas profesionales de estudiantes de Ingeniería
                    de Minas - Universidad Francisco de Paula Santander</h5>
                </p>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">

            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/Kqtzy7Pj4hE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        </div>
    </div>
</div>
