{{>navegacionDirector}}

<div class="container  pt-4 mt-4">
 
    <div class="card mt-4">
        <div class="card-body">
            <div class="card-title font-weight-bold">
                <h3>Cambiar contraseña</h3>

            </div>
            <div class="card-text">

                <form action="/director/cambiarClave" method="POST">
                    <div class="form-group">
                        <label for="passwordA">Contraseña actual</label>
                        <input type="password" class="form-control" id="passwordA" name="passwordA">

                    </div>
                    <div class="form-group">
                        <label for="passwordN">Contraseña nueva</label>
                        <input type="password" class="form-control" id="passwordN" name="passwordN">

                    </div>
                    <button class="btn btn-secondary mt-3" type="submit">
                        Cambiar
                    </button>
                </form>


            </div>
        </div>
    </div>


    <div class="card mt-4">
        <div class="card-body">
            <div class="card-title font-weight-bold">
                <h3>Actualizar Año Semestre Actual</h3>

            </div>
            <div class="card-text">

                <form action="/director/actualizarAnioSemestre" method="POST">
                    <div class="form-group">
                        <label for="anioSemestre">Año Semestre Actual</label>
                        <input type="text" class="form-control" id="anioSemestre" name="anioSemestre" value="{{semestreActual}}">
                    </div>
                    <button class="btn btn-secondary mt-3" type="submit">
                        Actualizar
                    </button>
                </form>


            </div>
        </div>
    </div>
</div>