{{>navegacionIndex}}
<div class="container">
    <div class="container">
        <div class="container">
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <p class="card-text">
                    <h3 class="">Información</h3>
                    <br>

                    <i style="font-size: 25px;" class="fas fa-globe"></i> <a
                        href="https://ww2.ufps.edu.co/oferta-academica/ingenieria-de-minas">Programa académico</a>
                    <br><br>
                    <i style="font-size: 25px;" class="fab fa-facebook"></i> <a
                        href="https://www.facebook.com/ingenieriademinasufps/?ref=page_internal"> Pagina oficial
                        Facebook del Programa Académico Ingeniería de Minas</a>
                    <br><br>

                    <i style="font-size: 25px;" class="fab fa-facebook-messenger"></i> <a
                        href="m.me/ingenieriademinasufps">Enviar mensaje</a>
                    <br><br>

                    <i style="font-size: 25px;" class="far fa-envelope"></i> <a
                        href="mailto:planingminas@ufps.edu.co">Correo Institucional : planingminas@ufps.edu.co</a>

                    <br><br>

                    <i style="font-size: 25px;" class="fab fa-youtube"></i> <a
                        href="https://www.youtube.com/channel/UCM3TXTkL_P9nNw9KOSWgcQQ"> Canal de Youtube</a>

                    <br><br>
                    <i style="font-size: 25px;" class="fas fa-info-circle"></i> Director de Programa Académico
                    Ingeniería De Minas - UFPS Ing. Jose Luis Gomez


                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
